<!-- Instagram Pictures -->
<div class="row justify-content-center bg-secondary">
    <div class="card text-center p-3 bg-transparent text-white ">
      <div class="card-title ">Insta Snaps</div>
      <div class="card-body">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="./assets/img/l10.jpg" alt="">
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/img/l2.jpg" alt="">
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/img/l4.jpg" alt="">
            
          </div>
        </div><div class="card-deck mt-4">
          <div class="card">
            <img class="card-img-top" src="./assets/img/l3.jpg" alt="">
            
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/img/l5.jpg" alt="">
          </div>
          <div class="card">
            <img class="card-img-top" src="./assets/img/l6.jpg" alt="">
            
          </div>
        </div>
      </div>
      <div class="card-footer"><i class="fa fa-instagram" aria-hidden="true"> Instagram</i></div>
    </div>
  </div>
<footer class="bg-dark container-fluid p-5">
    <div class="card bg-transparent text-white text-center">
      <div class="card-title display-4 font-weight-bold">Save 20% by Booking Now</div>
      <div class="card-body">EXPLORE THE BESUTY OF LADAKH</div>
      <button type="button" class="btn  btn-danger btn-lg">Book Now (Pay later)</button>
    </div>

  </footer>