<header class="titleSection ">
  <div style="min-height: 100vh;" class="row justify-content-around  p-2">
    <!--Logo and package highlights-->
    <div class="col-lg-6 col-md-6 text-white-50 ">
      <div class="logo">
        <img src="./assets/img/logo-removebg-preview.png" alt="Travelgo"/>
        <div class="companyName">TravelGo</div>
        </div>
        <h1 class="text-white p-3">3/4 Days Ladakh package</h1>
        <p class="ml-3">Starting at just 25000 rupees</p>
        
        <div class="card bg-transparent p-3">
          <i class="fa fa-plane" aria-hidden="true"> Flights</i>
          <br/><i class="fa fa-home" aria-hidden="true"> 5 star Hotals</i>
          <br/><i class="fa fa-bicycle" aria-hidden="true"> Cycle Rides</i>
          <br/><i class="fa fa-camera" aria-hidden="true"> We Capture All your Memories</i>
          <br/><i class="fa fa-music" aria-hidden="true"> Lot of Fun</i>
          <br/><i class="fa fa-ship" aria-hidden="true"> Boting</i>
          <br/><i class="fa fa-trophy" aria-hidden="true"> Many Sports Activitie</i>
        </div>

        <div class=" locations">
          <div class="locCard">
            <img class="rounded" src="./assets/img/ladakh.jpg" alt=""/>
            <p class="text-white">Ladakh</p>
          </div>
          <a href='#' class="locationCard">
            <img class="rounded" src="./assets/img/manali.jpg" alt=""/>
            <p class="text-white-50">Manali</p>
          </a > <a href='#' class="locationCard">
            <img class="rounded" src="./assets/img/nepal.jpg" alt=""/>
            <p class="text-white-50">Nepal</p>
          </a>
        </div>

    </div>
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-sm navbar-light text-white signin">
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">Login</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <!--Form  to book-->
    <div class="col-lg-4 col-md-6 col-sm-8 align-self-center">
      <div class="card text-left p-2 m-5  bg-transparent border-light text-white">
        <div class="card-body">
          <h4 class="card-title">Book your way to Happyness</h4>
          <p class="card-text">
            <form action="">
              <input type="text" required pattern="^[A-Za-z]*$" placeholder="Name*" class="form-control  m-2" name="name" id="name">
              <input type="number" required pattern="^[\d]{10}$" placeholder="Phone*" class="form-control m-2 " name="phoneNumber" id="phoneNumber">
              <input type="email" required  placeholder="Email*" class="form-control m-2" name="emailId" id="emailId">
              <button type="submit" class="btn btn-danger m-2">Book Now</button>
            </form>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>