<!-- Travel Location details  cards-->
<div class="card text-white bg-secondary text-center">
  <div class="card-body">
    <h4 class="card-title">Dicover Ladakh this Summer</h4>
    <p class="card-text">SEE WHAT Ladakh HAS TO OFFER</p>
    <div class="row">
      <div class="col-md-3 col-sm-5  p-xl-4 p-lg-2 p-md-1 mt-sm-2 ">
          <div class="p-0 text-white  daySection">
            <img class="card-img-top" src="./assets/img/palace.jpg" alt=""/>
            <div class="card-body">
              <h4 class="card-title">Day 1-Arrive Leh (Welcome)</h4>
              <p class="card-text">you will be taken for a sightseeing tour to the Leh Palace.
              </p>
            </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-5  p-xl-4 p-lg-2 p-md-1 mt-sm-2  ">
        <div class="p-0 text-white  daySection">
          <img class="card-img-top" src="./assets/img/leh2.jpg" alt=""/>
          <div class="card-body">
            <h4 class="card-title">Day 2-Excursion to Monasteries</h4>
            <p class="card-text"> Visit the Hemis Gompa which is the largest monastic foundation of Drukpa Kagyu.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-5  p-xl-4 p-lg-2 p-md-1 mt-sm-2  ">
        <div class="p-0 text-white  daySection">
          <img class="card-img-top" src="./assets/img/leh3.jpg" alt=""/>
          <div class="card-body">
            <h4 class="card-title">Day 3 Khardungla</h4>
            <p class="card-text">head to Khardungla Top which is the highest motorable road in the world with an elevation approx 17,582ft.
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-5  p-xl-4 p-lg-2 p-md-1 mt-sm-2  ">
        <div class="p-0 text-white  daySection">
          <img class="card-img-top" src="./assets/img/leh4.jpg" alt=""/>
          <div class="card-body">
            <h4 class="card-title">Day 4</h4>
            <p class="card-text">Head to Shanti Stupa which is a magnificent white-domed stupa 
              dedicated to Buddhism and Leh Market.</p>
          </div>
        </div>
      </div>
    </div>
    <button type="button" name="" id="" class="btn btn-danger btn-lg m-3">Book Now</button>
  </div>
</div>
<!-- Carousel with location pictures-->
<div class="row bg-secondary justify-content-center">
  <div class="card  text-center">
    <div id="carouselId" class="carousel slide customersSlide " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner " role="listbox">
        <div class="carousel-item active happyCustomers">
          <img src="./assets/img/l1.jpg" alt="First slide"/>
        </div>
        <div class="carousel-item happyCustomers">
          <img src="./assets/img/l8.jpg" alt="Second slide"/>
        </div>
        <div class="carousel-item happyCustomers">
          <img src="./assets/img/l9.jpg" alt="Third slide"/>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>