<!-- Instagram Pictures -->
<div class="row justify-content-center bg-secondary">
  <div class="card text-center p-3 bg-transparent text-white ">
    <div class="card-title h2 ">Insta Snaps</div>
    <div class="card-body">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="./assets/img/templeKhardungla.jpeg" alt="templeKhardungla">
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/img/gardenMonasteries.jpg" alt="Garden Monasteries">
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/img/hillStay.jpg" alt="Hill stay">
          
        </div>
      </div>
      <div class="card-deck mt-4">
        <div class="card">
          <img class="card-img-top" src="./assets/img/funHills.jpeg" alt="Awesome peaseful view">
          
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/img/palace.jpeg" alt="palace">
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/img/riverGanga.jpg" alt="river Ganga">
          
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a title="Instagram" target="_blank" href="https://www.instagram.com/vijaykanth11032018/">
      <i class="fa fa-instagram text-white" aria-hidden="true">TravelGo Instagram</i>
      </a>
    </div>
  </div>
</div>

<!--Footer-->
<footer class="bg-dark container-fluid p-5 m-1">
  <div class="card bg-transparent text-white text-center">
    <div class="card-title display-4 font-weight-bold">Save 20% by Booking Now</div>
    <div class="card-body">EXPLORE THE BEAUTY OF LADAKH</div>
    <button type="button" class="btn-danger btn-lg bookNow align-self-center">Book Now </button>
  </div>
  <div class="card-deck m-1 mt-3 card bg-transparent p-3">
    <div class="card px-md-5 p-2 pt-4  bg-dark border-white text-white font-weight-bold">
      <form action="#"  method="post">
        <p>Contact Us</p>
        <div class="form-group">
          <input class="form-control" type="text" required pattern="^[A-Za-z]*$" name="personName" placeholder="Person Name"/>
          <input type="number" pattern="^[\d]{10}$" class="form-control mt-1" placeholder="Phone Number">
          <textarea class="form-control mt-1" placeholder="Enter your Query" name="query" rows="3"></textarea>
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>
      </form>
     </div>
     <div class="card p-3 pt-4 px-md-5  bg-dark border-white text-white font-weight-bold justify-content-center">
      <p>  <i class="fa fa-phone" aria-hidden="true"></i>   : <a class="text-white " href="tel:+919959659861"> 9959659861</a></p> 
      <p><i class="fa fa-envelope" aria-hidden="true"></i> : <a class="text-white" href='mailto:travelgo@gamil.com'>travelgo@gamil.com</a> </p> 
      <address><i class="fa fa-address-book" aria-hidden="true"></i> :
        TravelGo,
        Near Old Railway Station,<br/>
        Delhi, 1400021
      </address>
     </div>
  </div>
  

</footer>